;; Dependencies configuration for clojure tools dep
{:paths ["src"]
 :deps
 {robertluo/fun-map {:mvn/version "0.4.5"}}
 :aliases
 {:dev ;Alias for development
  {:extra-paths ["test"]
   :extra-deps {metosin/malli {:mvn/version "RELEASE"}}}
  :reveal-middleware ;Alias for reveal instead of repl
  {:extra-deps {vlaaad/reveal {:mvn/version "RELEASE"}}
   :main-opts  ["-m" "nrepl.cmdline"
                "--middleware" "[vlaaad.reveal.nrepl/middleware,cider.nrepl/cider-middleware]"]}
  :test
  {:extra-deps {lambdaisland/kaocha           {:mvn/version "1.70.1086"}
                lambdaisland/kaocha-cloverage {:mvn/version "1.0.75"}}
   :main-opts  ["-m" "kaocha.runner"]}
  :cljs-test
  {:extra-paths ["test"]
   :extra-deps  {olical/cljs-test-runner {:mvn/version "3.8.0"}}
   :main-opts   ["-m" "cljs-test-runner.main"]}
  :build ;Alias for building, e.g. using with -T 
  {:deps {io.github.seancorfield/build-clj {:git/tag "v0.8.3" :git/sha "7ac1f8d"}}
   :ns-default build}}}
